<%- include('partials/header') -%>
<style type="text/css">
    body{
        background-image: url("https://images3.alphacoders.com/118/thumb-350-118437.jpg");
        background-size: cover;
        color:white;
    }
</style> 
    <h1>Your Completed List</h1>
    <ol>
        <% for(var i =0; i< user.length; i++){ %>
            <div class="col-md-3">
                <div class="well text-center">
                
                    <li>
                        
                            <%= user[i].Title %> - <%= user[i].Year %> (<%= user[i].Runtime %>) 
                        
                    </li>
                    </div>
            </div>
            
         <%  } %>
    
        </ol>
    <% var sum = 0; %>
    <% var hours = 0; %>
    <% var days = 0; %>
    <% for(var i =0; i<user.length; i++){ %>
        
        <% var str = user[i].Runtime %>
        <% var num = parseFloat(str) %>
        <% sum = sum + num; %>
        <% var hours = sum/60 %>
        <% var days = hours/24 %>
        
    
    <% }  %>
    <p>Total Hours Watched: <%= hours.toFixed(2) %> hrs</p>
    <p>Total Days Watched: <%= days.toFixed(2) %> days</p>

    <p><a href="/towatch">View your To Watch list</a></p>
    <p><a href="/">Search for another movie</a></p>
    

    <%- include('partials/footer') -%>