<%- include('partials/header') -%>


<style type="text/css">
    body{
        background-image: url("https://images4.alphacoders.com/217/thumb-350-217234.jpg");
        background-size: cover;
    }
</style> 

    <h1>Your Plans to Watch List</h1>
    <ol>
    <% user.forEach(function(movie){ %>
        <div class="col-md-3">
            <div class="well text-center">
        <li>  <%= movie["Title"] %> - <%= movie["Year"] %> - (<%= movie["Runtime"] %>)  </li>
            </div>
        </div>
        <% }) %>
    
        <p><a href="/completed">View your completed list</a></p>
        <p><a href="/">Search for another movie</a></p>

    </ol>
 <%- include('partials/footer') -%>